
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <h2>System Sale</h2>

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="menu-span"></span>
      <label class="menu-label">{{'emailUser'}}|{{'rolesUser'}}</label>
      <button mat-icon-button (click)="closetSesion()">
          <mat-icon>logout</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" style="width: 300px;" >
      <mat-nav-list>
              <mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>{{'menu.icon'}}</mat-icon>
              <span>{{'menu.nombre'}}</span>
          </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="pageInit">
       <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
