.Input{
  width: 100%;
}
.message, h3{
  color: white;
}
.full-width {
  width: 100%;
  font-size: 14px;
}
mat-tab-group{
  color:#e3dacb
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}
.example-card{
  max-width: 400px;
  border-radius: 2rem;
  border: 0 1px solid black;
  color: rgb(22, 21, 21);
  background-color: #e3dacb;
  font-family:'PT Serif', serif;
  font-weight: 700;
  margin-top: 10px;
}
img{
  width: 240px;
  height: auto;
  fill: none;
  stroke: #e3dacb;
  stroke-width: 1.848;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  cursor: pointer;
}
button {
  background: transparent;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

button::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(320deg, rgba(8, 11, 14, 0.678), rgba(136, 126, 136, 0.582));
  z-index: 1;
  transition: background 3s;
}

button:hover::before {
  animation: rotate 1s;
  transition: all .5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
