<mat-tab-group>
  <!-- First Tab: Cocktails by Glass Type -->
  <mat-tab label="Cocktails by Glass Type">
    <div class="card-container">
      <div *ngFor="let cocktail of cocktailGlassCocktails">
        <mat-card class="example-card">
          <img mat-card-image [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}">
          <mat-card-content>
            <p>{{ cocktail.strDrink }}</p>
            <h3></h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="viewDetails(cocktail.idDrink)">More</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <!-- Second Tab: Ordinary Drinks -->
  <mat-tab label="Ordinary Drinks">
    <div class="card-container">
      <div *ngFor="let cocktail of ordinaryDrinkCocktails">
        <mat-card class="example-card">
          <img mat-card-image [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}">
          <mat-card-content>
            <p>{{ cocktail.strDrink }}</p>
            <h3></h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="viewDetails(cocktail.idDrink)">More</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
