.card-container {
  display: flex;
  align-items: center;
}

.example-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 550px;
  border-radius: 2rem;
  border: 1px solid black;
  margin-top: 50px;
  background-color:#e3dacb;
  margin-bottom: 40px;
}
.rating-circle {
  margin-left: 10px;
}
.mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 400px;
  height: auto;
  fill: none;
  stroke-width: 1.848;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
mat-card-title,
mat-card-title-group,
mat-card-subtitle {
  margin-top: 30px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
p{
  font-size: 15px;
  text-align: justify;
  font-family: 'PT Serif', serif;
  color: black;
}

button {
  background: transparent;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

button::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(320deg, rgba(8, 11, 14, 0.678), rgba(136, 126, 136, 0.582));
  z-index: 1;
  transition: background 3s;
}

button:hover::before {
  animation: rotate 1s;
  transition: all .5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


.custom-primary {
  background-color: #f5eed4;
}

.container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: auto;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.color_button{
background-color: #f5eed4;
color: black;
}

.ingredients-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}
h4{
  font-size: 1rem;
  margin-bottom: auto;
}
.mat-divider {
  margin: 0px 0px;
}
.ingredients-container ul {
  list-style: none;
  padding: 0;
}




@media only screen and (min-width: 375px) and (max-width: 768px) {
  .example-card {
    height: auto;
    flex-direction: column;
    width: 70%;
  }
  .example-card-container{
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
  }

  mat-card-title,
  mat-card-title-group,
  mat-card-subtitle {
    margin-top: 10px;
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}
